tmux-client-*.log
.config/tmux/plugins
.config/github-copilot/
.config/go/
.config/nvim/lazy-lock.json
.config/Bitwarden CLI/
.config/configstore/
.config/containers/
.config/fabric/
.config/glow/
.config/NuGet/
.config/gh/
