tmux-client-*.log
.zsh_history
Session.vim
tmux/.config/tmux/plugins
.config/github-copilot/
.config/go/
nvim/.config/nvim/lazy-lock.json
.config/Bitwarden CLI/
.config/configstore/
.config/containers/
.config/fabric/
.config/glow/
.config/NuGet/
.config/gh/
.config/create-next-app-nodejs/
.config/nextjs-nodejs/
.config/crush/
.config/lazygit/
.config/yay/
.config/aerospace/
.crush/
archive-*/
claude/
CLAUDE.md
